@import '~styles.scss';
.flight-search-wrapper {
    padding: 20px;
    background: $dark-easy-orange;
    color: white;
    border-radius: 3px;
    text-align: center;
    // $media $desktop {
        text-align: left;
    // }
    .button {
        border-radius: 3px;
        border: 1px solid #fff;
    }
}

.form-row-desktop {
    // $media $desktop {
        .form-row {
            display: inline;
        }
    // }
}

.form--panel {
    margin: 0 16px;
    // $media $tablet {
        display: inline-block;
    // }
    label {
        display: block;
        text-align: left;
        margin: 0 0 5px;
    }
}

.easy-input {
    input,
    select {
        -webkit-appearance: none;
        border: 1px solid $easy-orange;
        border-radius: 3px;
        padding: 12px;
        margin-bottom: 16px;
        min-width: 75px;
        text-align: center;
        width: 100%;
        // $media $tablet {
            display: inline-block;
            width: auto;
        // }
    }
    select {
        background-position: 95% 50%;
        background-position: calc(100% - 10px) 50%;
        background-repeat: no-repeat;
        padding-right: 30px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFBAMAAACOSmBbAAAAGFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABWNxwqAAAAB3RSTlMAlICPon4FzGWBCwAAACJJREFUCNdjUC8vLy9mYAKSYgxATiEDAwNruQADEJgwMAAAaZgFTCUnE6sAAAAASUVORK5CYII=);
    }
    // $media $desktop {
        input[type="date"],
        select {
            min-width: 300px;
        }
    // }
}

.flight-results {
    transition: 0.3s all;
    margin-top: -3px;
    border: 1px solid $easy-orange;
    overflow: hidden;
    border-radius: 0 0 3px 3px;
    .flight-results--inner {
        padding: 20px;
    }
}

.flight-results {
    max-height: 0px;
}

.search--expanded .flight-results {
    max-height: 1000px;
}